sourceDir = "~/dots"
color = "auto"
mode = "symlink"

[git]
autoAdd = true
autoCommit = true
autoPush = false

# [update]
# command = "fossil"
# args = ["update"]

[data]
# private_ = true
# dot_ = true
# readonly_ = true
# executable_ = true
# dotfiles = true
